EXPO_PUBLIC_ACCOUNTS_API_URL=http://localhost:8081
EXPO_PUBLIC_LEDGER_API_URL=http://localhost:8080
EXPO_PUBLIC_SETTLEMENT_API_URL=http://localhost:8082
EXPO_PUBLIC_NOTIFICATION_API_URL=http://localhost:8083
